<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="javascripts/style.css" rel='stylesheet' type='text/css'>
    <script src='javascripts/jquery.min.js' type='text/javascript'></script>
    <script src='javascripts/vector.js' type='text/javascript'></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="Font-Awesome-3.2.1/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="css/smallreginst.css" media="screen and (max-width: 768px)" />
    <link rel="stylesheet" type="text/css" href="css/bigreginst.css" media="screen and (min-width: 768px)" />
    <script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>

    h2{
        text-align: center;
    }
    .form-signin-heading{
        font-size: 30px;
        color: white;
    }
</style>

<body  ng-app="myApp" ng-controller="myController">

      
        <div id="container">
            <div id="output">
                <div class="containerT">
                    <h2 class="form-signin-heading">蓝坊酒店用户注册</h2>
                    <form class="form-signin"  th:action="@{/reginstUser}"  th:method="post"   name="ReginstForm">
                        <!--<input type="text" placeholder="用户名" id="userName" value="admin" name="userName">-->
                        <!--<input type="password" placeholder="密码" id="entry_password" name="password">-->
                        <!--<button type="submit" id="entry_btn" onclick="check(this.form)">登录</button>-->
                        <!--<div id="prompt" class="prompt"></div>-->
                        
                        <div class="container main_border">
                         

                            <div class="col-lg-12 col-md-12 col-sm-12 mind-body">
                                <!-- 邮箱输入栏 -->
                                <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default" >
                                                    <i class="icon-user"></i>&nbsp;&nbsp;用&nbsp;户&nbsp;名&nbsp;</span>
                                            </span>
                                    <span style="color:red" ng-show="ReginstForm.email.$dirty && ReginstForm.email.$invalid"></span>
                                    <input id="reginst_userName" class="form-control" placeholder="请输入用户名(邮箱格式)" type="email" name="email"
                                           ng-model="email">
                                </div>

                                <!-- 邮箱输入错误提示栏 -->
                                <span class="warningSpan" ng-show="ReginstForm.email.$error.email">邮箱格式不正确</span>

                                <!-- 密码输入栏 -->
                                <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default" >
                                                    <i class="icon-lock"></i>&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;</span>
                                            </span>
                                    <input type="password" class="form-control" ng-model="password" ng-minlength="6" ng-maxlength="20" name="password"
                                           id="reginst_userPwd" placeholder="请输入密码">
                                </div>

                                <!-- 密码错误提示框 -->
                                <p>
                                            <span style="color: red" ng-show="ReginstForm.password.$invalid">
                                                <span ng-show="ReginstForm.password.$error.minlength">*密码长度不小于6</span>
                                                <span ng-show="ReginstForm.password.$error.maxlength">*密码长度不超过20</span>
                                            </span>
                                </p>


                                <!-- 确认密码输入栏 -->
                                <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default" >
                                                    <i class="icon-lock"></i>&nbsp;&nbsp;确认密码</span>
                                            </span>
                                    <input type="password" class="form-control" ng-model="passwordagain" name="passwordagain" id="reginst_userPwdagain"
                                           placeholder="请再输一遍密码">
                                </div>


                                <!-- 两次密码输入不一致提示框 -->
                                <p>
                                            <span style="color: red" ng-show="ReginstForm.password.$valid">
                                                <span ng-show="passwordagain!=password">*两次密码输入不一致</span>
                                            </span>
                                </p>

                                <!-- 	手机号输入栏 -->
                                <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default" >
                                                    <i class="icon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;电&nbsp;&nbsp;话&nbsp;&nbsp;
                                                </span>
                                            </span>
                                    <input id="reginst_userPhone"  class="form-control" name="phone" ng-model="phone" ng-pattern="/^1[3|4|5|7|8]\d{9}$/"
                                           placeholder="请输入电话号码">
                                </div>
                                <!-- 手机格式输入错误提示栏 -->
                                <p>
                                    <span class="warning warningColor" ng-show="ReginstForm.phone.$error.number">只能输入数字</span>
                                    <span class="warning warningColor" ng-show="ReginstForm.phone.$error.pattern">手机格式不正确</span>
                                </p>

                                <div class="input-group tianchong">
                                    <div class="tianchong"></div>
                                    <button class="btn btn-success" id="reginstBtn" type="submit" ><i class="icon-ok-sign"></i>&nbsp;&nbsp;注册</button>
                                    <div class="tianchong"></div>
                                    <button class="btn btn-warning" ng-click="fan($index)"><i class="icon-reply"></i>&nbsp;&nbsp;返回</button>
                                    <div class="tianchong"></div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>
</html>
<script>
    $(function(){
        Victor("container", "output");   //登陆背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });
    
    var app = angular.module("myApp", []);
    app.controller("myController", function($scope) {});



   
</script>